body {
  background-color: antiquewhite;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 20px;
  font-weight: 700;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.t-display {
  display: flex;
  justify-content: center;
}

.oval {
  height: 600px;
  width: 550px;
  background-color: rgba(85, 85, 85, 0.534);
  border-radius: 50% 50% 42% 42%;
  margin-bottom: 20px;
  position: relative;
}

h2 {
  position: absolute;
  font-weight: 700;
  margin-top: 50px;
}

h5 {
  position: absolute;
  margin-top: 100px;
}

.square {
  height: 350px;
  width: 350px;
  margin-top: 150px;
  background-color: white;
  position: absolute;
}

.tamagotchi {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 330px;
  align-items: center;
}

.character {
  width: 150px;
  height: 150px;
  position: absolute;
}

.buttons {
  position: absolute;
  margin-top: 520px;
}
