body {
  background-color: antiquewhite;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

h1 {
  margin-top: 20px;
  font-weight: 700;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
